.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:  #495e76;
    color: #fff;
    padding: 50px;
}

.smallBoard{
    width: 300px;
    height: 300px;
}

.mediumBoard{
    width: 500px;
    height: 500px;
}

.start_btn {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
}

.start_btn:hover{
    background: #282c34;
    transition: .3s all ease;
}

.info {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 768px) {
    .mediumBoard{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 510px) {
    .mediumBoard{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 323px) {
    .mediumBoard{
        width: 220px;
    }
}