.board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background:  #fff;
}

.start_btn {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
}

.start_btn:hover{
    background: #282c34;
    transition: .3s all ease;
}

.info {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}